@media (max-width: 900px){
	     	#square{
			left: 42%;
			width:56%;
			max-width: 80px
			transform: translateX(10%);
			flex: 1;
			flex-direction: column;
			align-items: center;

			background: orange;
			}
			#photo{
				margin-top: 8px;
				width: 100px;
				left: 32%;
				border: 1px solid white;
			}
			#rectangle{
			left: 42%;
			flex: 1;
			align-items: center;
			justify-content: center;
			max-width: 80%;	
			border-radius: 15px;
			}

			#titlec h1{
			font-size: 18px;
			font-family: Arial;
			position: absolute;
			left: 5%;
			transform: translateY(130px);
			color: white;
			z-index: 3;
		}
		


		#rectangle .menu{
			left: 15%;
			top: 150px;
			padding: 2px;
			
		}
		
		#rectangle .menu ul a img{
			
			width: 30px;
			transform: translateY(15px);
			left: -70px;

			
		}
		.menu h5 {
			font-size: 11px;
			top: 0%;
			right: 3%;
			
			
		}

		#square #exc, #cur, #chap, #Knowledge hr{
			display: none;
		}
		#rectangle hr{
			transform: translateY(25px);
		}
		

		#ferFrm *{
			display: none;
		}	
		#titlec .about{
			display: none;
		}

		#Knowledge {
		
			position: absolute;
			align-items: center;
			bottom: 200px;
			transform: translateX(95px);		
			z-index: 2;
			
		}
		#Knowledge img {
			position: relative;
			
			width: 38px;
			
		}



			#python{
				position: absolute;
				right: 35%;
			}


			#Csharp{
				position: absolute;
				right: 32%;
			}

			#SQL{
				position: absolute;
				right: 28%;
			}
			#HTML{
				position: absolute;
				right: 22%;
			}
			#CSS{
				position: absolute;
				right: 117%;
				top: 60px;
				
			}



  .c_menu{
	display: flex;
	flex-direction: inherit;
	position: absolute;
	z-index: 3;
	left: 15%;
	bottom: 2%;
	
}

.c_menu a img{
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 20%;
	top : 48%;
	
	margin-left: 15px;
	
}

	}