#square{
left:35%;
top:20%;
position:absolute;
margin-left:-100px; 
margin-top:-50px; 
width:700px; 
height:500px; 
background:#fff;
border-radius: 15px;
box-shadow: 5px 5px 5px 5px black;
}

#rectangle{
	position:absolute;
	width: 250px;
	height: 500px;
	background-color: #145267;
	box-shadow: 1px 1px 1px black;
	border-radius: 15px 0px 0px 15px;
}
#titlec h1{
	position: absolute;
	right: 6%;
	font-family: Arial;
}
#photo{
width: 150px;
border-radius: 100px;
position: absolute;
right: 20%;
margin-top: 25px;



}
#rectangle hr{
	size: 50px;

	position: relative;
	top: 42%;
}
.menu{
	position: absolute;
	z-index: 1;
	right:  22%;

	top: 42%;
}
.menu h5{
	position: absolute;
	right:  auto;
	font-family: Arial;
	color: white;
	top: 120%;
}

.menu h5 b{
	
	color: black;
	
}







.menu ul li{
	float: left;
	margin: 8px;
	
	list-style-type: none;
}
.menu ul li img{
	width: 48px;
	position: relative;
	border-radius: 100%;

}

#python{
	width: 48px;
	position: absolute;
	border-radius: 100%;
	z-index: 1;
	right: 50%;
	top: 15%;

}


#Csharp{
	width: 50px;
	position: absolute;
	border-radius: 100%;
	z-index: 1;
	right: 40%;
	top: 15%;

}

#SQL{
	width: 50px;
	position: absolute;
	border-radius: 30%;
	z-index: 1;
	right: 30%;
	top: 15%;

}

#Knowledge hr{
	size: 50px;
	position: absolute;
	width: 600px;
	height: 2px;
	background-color: black;
	right: 0%;
	top: 42%;
	

}

#Knowledge .more #vs{
	width: 30px;
	position: absolute;
	border-radius: 100%;
	z-index: 1;
	right: 41%;
	top: 25%;

}

#Knowledge .more #pyc{
	width: 35px;
	position: absolute;
	border-radius: 100%;
	z-index: 1;
	right: 51%;
	top: 25%;

}



