

.cabeçalho #header{
	border: solid  #0d0d26;
	background-color: #0d0d26;
	height: 200px

}

body{
background: -moz-linear-gradient(right, #78CCCC, #000038);

}

.cabeçalho #nome{
	color: white

}

.cabeçalho .menu{
	position: relative;
	width: 84%;
	float: left;
	bottom: -35px;
	background-color: #00001a;
	padding: 34px 8%;
}




.cabeçalho .menu li{
	float: left;
	margin-right: 25px;
	list-style-type: none;


}
.cabeçalho .menu li #lnk1{
	position: absolute;
	right: 20%;

}

.cabeçalho .menu li #lnk1 img{
	width: 32px;
	position: absolute;
	right: 10%;
	top: -22px;
	border-radius: 50%;
	border:2px solid #00bfff;
	z-index: 1;
}




.cabeçalho .menu li #lnk2{
	position: absolute;
	right: 28%;
	
}

.cabeçalho .menu li #lnk3{
	position: absolute;
	right: 70%;
	
}

.cabeçalho .menu li #lnk4{
	position: absolute;
	right: 78%;
	
}













.cabeçalho #foto{ 
 	width: 220px;
 	border-radius: 50%;
 	border-color: black;
 	border: solid;
 	position: absolute;
 	right: 42%;
 	z-index: 1;
}
.cabeçalho #git{
	width: 32px;
	position: absolute;
	right: 10%;
	top: 150px;
	border-radius: 50%;
	border:2px solid #00bfff;
	z-index: 1;

}
.cabeçalho #link{
	width: 32px;
	position: absolute;
	right: 6.5%;
	top: 150px;
	border-radius: 50%;
	border:2px solid #00bfff;
	z-index: 1;
}

div.tres {
 width:30px;
 height:30px;
 border: 25px solid; /* As 4 bordas sólidas com 25px de espessura */
 border-color: #f00 #0f0 #00f #fc0; /* cores: topo, direita, inferior, esquerda */
 }